@font-face {
    font-family: Roboto;
    src: url(Roboto/Roboto-Regular.ttf);
}

@font-face {
    font-family: Roboto;
    src: url(Roboto/Roboto-Bold.ttf);
    font-weight: bold;
}

* {
    font-family: 'Roboto', sans-serif;
}

h1 {
    max-width: 700px;
}
table th {
    width: auto !important;
}
.spacer {
    margin-top: 15px;
    margin-bottom: 15px;
}